@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');

/* global */

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background: #f7f7f9;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/* global */
/* section 1 top-bar */

.top-bar {
    width: 100%;
    height: 45px;
    background: #231B1B;
    color: white;
}
.top-bar .wrapper {
    display: flex;
    justify-content: space-between;
}
.top-bar__left, .top-bar__right {
    height: 100%;
    display: flex;
    align-items: center;

    font-size: 15px;
}
.top-bar__left__text {
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.top-bar__left__text i, .top-bar__right__social a i {
    margin-right: 15px;
}
.top-bar__right__auth, .top-bar__right__wishlist, .top-bar__right__cart, .top-bar__right__search {
    margin-left: 35px;
}

/* section 1 top-bar */
/*section 2 header-menu*/

.menu {
    display: flex;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    z-index: 99;
    background: white;
    justify-content: center;
}
.menu .wrapper {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo a{
    font-family: 'Hubballi', cursive;
    border: 1px solid black;
    font-size: 40px;
    padding: 2px 5px;
}
.menu__links {
    display: flex;
}
.menu__links a{
    margin-left: 45px;
    font-size: 25px;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
}
.menu__links a:hover{
    color:#ea4636;
}
.menu__links__dropdown__menu {
    width: 150px;
    position: absolute;
    display: none;
    top: 70px;
    transition: all 0.5s ease;
    z-index: 111;
    background: white;
    flex-direction: column;
    justify-content: center;
    box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3);
    padding: 20px 10px;
}
.menu .wrapper .menu__links div.menu__links__dropdown:hover .menu__links__dropdown__menu{
    display: flex;
    transition: all 0.5s ease;
}
.menu__links__dropdown__menu__col {
    width: 100%;
}
.menu__links__dropdown__menu a{
    width: 100%;
    margin-left: 20px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/*section 2 header-menu*/
/* section 3 swiper*/

.special {
    width: 100%;
    height: 500px;
}
.swiper {
    height: 450px;
    width: 870px;
    justify-self: flex-start;
    margin: 0!important;
    background: #DDFFF7;
    border-radius: 20px;
}
.special .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: white;*/
}
.swiper-slide {
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.swiper-slide img {
    width: 870px;
    align-self: center;
}
.banner {
    width: 270px;
    height: 450px;
    background-image: url("https://previews.123rf.com/images/bamboochas/bamboochas1711/bamboochas171100143/90224895-winter-sale-vertical-mobile-ad-banner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}

/* section 3 swiper*/
/* section 4 products */

.products {
    width: 100%;
    height: 600px;
    margin-top: 40px;
}
.products .wrapper .wrapper {
    display: flex;
    justify-content: space-between;
}
.products .wrapper h2 {
    margin: 30px 30px 30px 0;
}
.products__card {
    height: 400px;
    width: 220px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 20px;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}
.products__card__img {
    width: 220px;
    height: 300px;
    background-image: url("https://www.pngall.com/wp-content/uploads/5/Apple-iPhone-12.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.products__card__info__price {
    font-size: 30px;
    color: #28112B;
}
.products__card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.products__card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
}

/* section 4 products */
/* section 5 footer */

.footer {

    height: 160px;
    background: #0d0d0e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}
.footer__row__left {
    width: 1243px;
    margin-right: 20px;
}
.footer__row__left .menu__logo a {
    border-color: white;
}
.footer_menu {
    font-weight: 300;
    letter-spacing: .07em;
    -webkit-tap-highlight-color: transparent;
    --vh: 5.8px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Futura,sans-serif;
    vertical-align: baseline;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 100%;
    color: #c5c5c5;
}
.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__row__right, .footer__row__left {
    display: flex;
}
.footer__row__right__box {
    display: flex;
    flex-direction: column;
}
.footer_right {
    width: 500px;
    font-weight: 300;
    letter-spacing: .07em;
    -webkit-tap-highlight-color: transparent;
    --vh: 5.8px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Futura,sans-serif;
    vertical-align: baseline;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 100%;
    color: #c5c5c5;
}
.footer__row__right__box__imgs img{
    width: 70px;
    margin-right: 20px;
}

/* section 5 footer */
/* section 6 map */

.mmap {
    width: 100%;
    height: 388px;
}
.map__info {
    position: absolute;
    left: 369px;
    z-index: 5;
    width: 455px;
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%/40%;
    background: white;
    margin-top: 38px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.map {
    width: 100%;
    height: 388px;

    position: absolute;
    z-index: 1;
}
.map__info__contacts {
    width: 100%;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map__info__contacts__item {
    display: flex;
    align-items: center;
}
.map__info .wrapper {
    width: 358px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.map__info .wrapper .text__title {
    width: 100%;
    background: none;
}
.map__info__contacts__item .text__description {
    font-size: 18px;
    margin-left: 20px;
}
